:root{
    --rootFont: calc(min(1vh, 1vw));
    --toggle:4em;
    --menu: 10vw;
    --player: 4em;
    --content: calc(100vw - var(--menu));
}

[theme="dark"]{
    --accent: #eee;
    --primary: #222;
}

[theme="light"]{
    --accent: #222;
    --primary: #eee;
}

.hidden{
    display:none;
}

html,body{
    font-size: calc(2 * var(--rootFont));
    background-color: var(--primary);
    color: var(--accent);
    width: 100vw;
    height: 100vh;
    font-family: 'Rubik', 'sans-serif';
    cursor: default;
    padding: 0px;
    margin: 0px;
    border: 0px;
    border-collapse: collapse;
    overflow-x: hidden;
}

content{
    background-color: indigo;
    position: absolute;
    width: var(--content);
    height: max-content;
    left: max(var(--menu), var(--toggle));
}

navbar{
    padding-top: calc(2 * var(--toggle));
    left:0px;
    top:0px;
    background-color: forestgreen;
    position: fixed;
    width: var(--menu);
    height: 100vh;
    transition: 200ms;
}

player{
    background-color: darkgoldenrod;
    position: fixed;
    left:0px;
    bottom: 0px;
    width: 100vw;
    height: var(--player);
}

nav-toggle{
    background-color: rosybrown;
    position: fixed;
    left: 0px;
    top: 0px;
    width: var(--toggle);
    height:var(--toggle);
}

menu{
    margin:0px;
    cursor: pointer;
    display: inline-table;
}

menu item{
    display:block;
    padding:1em;
    border-radius: 3px;
    background-color: transparent;
    transition: .2s;
}

menu item:hover{
    background-color: #88888860;
}

.closed{
    left: calc(-1 * var(--menu));
}
 
.open{
    left: 0px;
}


@media screen and (min-width: 800px){
    nav-toggle{
        display: none;
    }

    navbar{
        left: 0px !important;
    }
}