:root{
    --toggle:2rem;
    --menu: 12rem;
    --player: 4rem;
    --contentMenu: calc(100vw - var(--menu));
    --contentToggle: calc(100vw - var(--toggle));
    --shadow:#88888860;
}

[theme="dark"]{
    --accent: #eee;
    --primary: #222;
}

[theme="light"]{
    --accent: #222;
    --primary: #eee;
}

.hidden{
    display:none;
}

html,body{
    font-weight: bolder;
    font-size: 1rem;
    background-color: var(--primary);
    color: var(--accent);
    width: 100vw;
    height: 100vh;
    font-family: 'Rubik', 'sans-serif';
    cursor: default;
    padding: 0px;
    margin: 0px;
    border: 0px;
    border-collapse: collapse;
}

page{
    position:fixed;
    overflow: hidden;
    width:100vw;
    height: 100vh;
    background-color: transparent;
}

content{
    background-color: rosybrown;
    position: absolute;
    width: var(--contentToggle);
    left: 0px;
    padding: var(--toggle);
    max-height: 100%;
    overflow: scroll;
    transition: 200ms;
}

navbar{
    padding-top: var(--toggle);
    left:0px;
    top:0px;
    background-color: mediumspringgreen;
    position: absolute;
    width: var(--menu);
    height: 100vh;
    transition: 200ms;
    box-shadow: 0px 0px .5rem 0px #00000050;
}

player{
    background-color: midnightblue;
    position: absolute;
    left:0vw;
    right:0vw;
    top: calc(100vh - var(--player));
    height: var(--player);
}

nav-toggle{
    font-size: 1.2em;
    background-color: maroon;
    position: absolute;
    left: 0px;
    top: 0px;
    width: var(--toggle);
    height:var(--toggle);
    line-height: var(--toggle);
    text-align: center;
}

menu{
    position: absolute;
    left:0px;
    margin:0px;
    cursor: pointer;
    display: inline-table;
    width: var(--menu);
}

menu item{
    display:block;
    padding:1em;
    border-radius: 3px;
    background-color: transparent;
    transition: .2s;
}

menu item:hover{
    background-color: var(--shadow);
}

.closed{
    left: calc(-1 * var(--menu) - 1rem);
}
 
.open{
    left: 0px;
}


@media screen and (min-width: 800px){
    nav-toggle{
        display: none;
    }
    navbar{
        left: 0px !important;
        padding-top: calc(3 * var(--toggle));
        box-shadow: 0px 0px .5em 0px #00000050;
    }
    content{
        left: var(--menu);
        width: var(--contentMenu);
    }
}